<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang Chu</title>
    <th:block th:replace="base :: resources"></th:block>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="base :: header"></div>

    <section class="container">
        <a th:href="@{/admin/products}" class="btn btn-success">Add</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p: ${products}">
                    <td>
                        <image th:src="${p.image}" width="200"/>
                    </td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price} + ' VND'"></td>
                    <td>
                        <a href="" class="btn btn-info">Update</a>
                        <button class="btn btn-danger">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <div>
        Avatar:
        <img width="300" th:src="@{/img/owner_avatar.jpg}"/>
    </div>

    <div th:replace="base :: footer"></div>
</body>
</html>

